*
    padding: 0
    margin: 0
    box-sizing: border-box

.app-container
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

video
    position: fixed
    right: 0
    bottom: 0
    min-width: 100%
    min-width: 100%

.ops
    width: 80%
    height: 30rem
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    right: 20px

    
.timer-container
    height: 32rem
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center

.timer-container button
    padding: 1.2rem 2.8rem
    background-color: transparent
    border: 2px solid white
    font-weight: 600
    font-size: 2rem
    color: white
    border-radius: 0.6rem
    cursor: pointer
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8)
    transition: 0.25s

.timer-container button:hover
    transform: translateY(-0.5rem)

.timer-container button:active
    transform: translateY(0.25rem)
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px

.player-container
    height: 35rem
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center

#play-pause
    padding: 3rem
    background-color: transparent
    border: 3px solid white
    border-radius: 50%
    transition: all 0.5s

#play-pause:hover
    padding: 9rem
    border: 5px solid white
    .play
        width: 3rem
    .pause
        width: 3rem

#play-pause:active
    transform: translateY(2rem)
    
.play
    width: 1.5rem
    transition: all 0.5s
    
.pause
    width: 1.5rem
    transition: all 0.5s

.restart
    height: 2rem
    transition: all 0.5s

.restart:hover
    height: 3rem
    transform: rotate(360deg)

.time
    color: white
    font-size: 4rem

.mood-container .moods
    height: 32rem
    display: flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center

.moods button
    background: transparent
    border: none
    transition: all 0.25s

.mood-button
    width: 4rem

.galaxy:hover
    transform: scale(2)

.monk:hover
    transform: scale(2)

.ocean:hover
    transform: scale(2)

.rain:hover
    transform: scale(2)